* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: whitesmoke;
  color: #333;
}

img {
  max-width: 100%;
}
h1 {
  margin-bottom: 15px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 30px;
}

.container div h1{
    margin-left:  30px;
}
.container div p{
    margin-left:  30px;
}
.container div button{
    margin-left:  30px;
}

.navbar {
  background: #1f2937;
  color: #e5e7e5;
  font-size: 18px;
  height: 60px;
}

ul {
  list-style-type: none;
}

.navbar .logo {
  color: #f9faf8;
  font-size: x-large;
  font-weight: bold;
  width: 80px;
  height: 80px;
  padding-top: 20px;
}

.navbar a {
  color: #e5e7e5;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.navbar :hover {
  color: aqua;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background: #1f2937;
  color: #e5e7e5;
  font-size: 18px;
  text-decoration: none;
}

.header .hero {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  line-height: 1.2;
}

.buttonsty {
  background: #3882f6;
  background-color: #3882f6;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin: 10px 10px;
  border-color: #3882f6;
  color: #f9faf8;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header img {
  max-width: 400px;
  max-height:400px ;
  padding: 30px 30px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: transparent;
  border-radius: 10px;
  border-color: #3882f6;
  margin: 20px 20px;
  width: 280px;
  padding: 20px 20px;
  outline: auto;
  outline-style: solid;
  outline-color: #3882f6;
  outline-width: 5px;
}

.box img {
  max-width: 280px;
  max-height: 280px;
  padding: 10px 10px;
}
.header2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.boxes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  justify-content: baseline;
}

.boxes .subtexts {
  display: flex;
}

.id1 {
  margin-left: 300px;
}

.id2 {
  margin-left: 200px;
}

.id3 {
  margin-left: 160px;
}

.id4 {
  margin-left: 200px;
  margin-bottom: 50px;
}

.Quotes {
  background: #e5e7eb;
  color: #1f2937;
  display: flex;
  flex-wrap: wrap;
}
.Quotes .container {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .c1 {
  flex: 1;
  margin-top: 100px;
  margin-left: 40px;
  justify-self: center;
  align-content: center;
  font-size: 32px;
  font-style: italic;
  flex-wrap: wrap;
  font-weight: normal;
}

.container .c2 {
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 60px;
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: 800;
}

.container .paraContainer {
  background: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 100px 100px;
  padding: 35px 35px;
  border-radius: 5px;
  color: #f9faf8;
}

.paraq {
  border-color: #e5e7e5;
  background: #3882f6;
  background-color: #3882f6;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin: 10px 10px;
  border-color: #e5e7e5;
  color: #f9faf8;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.CopyrightSec {
  display: flex;
  align-content: center;
  justify-content: center;
  background: #1f2937;
  color: #e5e7e5;
  font-size: 18px;
  padding: 30px 30px;
}
